<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{student.first_name}} {{student.last_name}} Details</title>
</head>
<body>
<p>First Name: {{student.first_name}}</p>
<p>Last Name: {{student.last_name}}</p>
<p>Gender: {{student.gender}}</p>
<p>Mobile: {{student.mobile}}</p>
<p>E-mail: {{student.email}}</p>
<p>City: {{student.city}}</p>
<p>state: {{student.state}}</p>
<p>department: {{student.department}}</p>
<br><br>
<h4>For form submission click <strong><a href="/student/">here</a></strong></h4><br><br>
</body>
</html>